.details-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  color : white;
}

.details-grid{
  width: 16rem;
  height: 16rem;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  background-color: #5d6872;
  color: white;
  border-radius: 10px;
}

.error{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e57373;
  color: white;
  padding: 10px;
  border-radius: 10px;
}